/* /src/components/FoodDetail/components/Input.css */

.foodDetailinput {
  border: none; 
  outline: none;
  color: #fff;
  background-color: transparent;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
}

.foodDetailtext.title-input {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  padding: 0;
} 
.title-input {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  padding: 0;
}

.foodDetailinput.quantity-input { 
  width: 100px;
  text-align: center;
}

.foodDetailinput.period-value-input {
  min-width: 40px;
  width: auto;
  text-align: center;
}

.foodDetailinput.custom-unit-input {
  min-width: 100px;
  width: auto;
  margin-left: 8px;
  font-size: 16px;
  text-align: center;
}

.edit-btn {
  margin-left: 10px;
  border: none; 
  background-color: var(--green);
  color: #fff; 
  width: 30px; 
  height: 30px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  cursor: pointer; 
  font-size: 24px;
}
.edit-btn:hover { 
  background: rgba(255,255,255,.1);
}

.input-container {
  display: flex;
  align-items: center;
  gap: 0;
}

.edit-icon{
  width: 30px;
  height: auto;
  opacity: 50%;
}

