/* /src/pages/RegisterFood/RegisterFood.css */
.register-container {
  width: 100%;
  background: var(--green);
  border-radius: 20px;
}

.name {
  font-size: 50px;
  font-weight: 700;
}

.food-info p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

button {
  width: 150px;
  padding: 15px;
  border: none;
  background-color: #cde5c0;
  color: #6d9660;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}
