/* /src/css/FoodDetail.css */
.food-detail div{
    font-size: 2.5vw;
    color: white;
}

.food-detail input {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 2.5vw;
    font-weight: 500;
}

.food-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

.quantity-group {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.quantity-group .edit-input {
    width: 5vw;
    text-align: center;
}

.unit-input {
    width: 2vw;
}
