/* /src/css/Header.css */


.header-container {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vw;
  margin-bottom: 2.5vw;
}

.logo-section {
  font-size: 3vw;
  font-weight: 700;
  color: #6d9660;
  text-decoration: none;
}

.icon-section {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  font-size: 2vw;
  font-weight: 500;
  color: #6d9660;
}

