/* /src/css/Header.css */


.header-container {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  font-size: 2.5vw;
  font-weight: 700;
  color: #2d4d2a;
  text-decoration: none;
}

.icon-section {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

