/* /src/css/RegisterFood.css */

.register-container {
  max-width: 80vw;
  margin: 2rem auto;
  padding: 2rem;
  background: #6c8b5e;
  border-radius: 20px;
}

.name {
  font-size: 5vw;
  font-weight: 700;
  color: #333;
}

.food-info p{
  margin-top: 2rem;
  font-size: 2vw;
  color: #000;
  font-weight: 500;
}

